header .container{
    display: none;
}

.desktop__navbar{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.desktop__nav a{
    text-decoration: none;
    color: black;
    margin-right: 17px;
    transition: color 0.2s;
}
.desktop__nav a:hover{
    color: white;
}





/*LOGO*/
.logo{
    width: 50px;
}
.logo__flex--container{
    display: flex;
    justify-content: left;
}
.container label{
    position: relative;
    bottom: 47px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}
.icon_menu{
    width: 50px;
}




@media (max-width: 767px) {

    .desktop__navbar{
        display: none;
    }
    header .container{
        display: block;
    }

    #menu_bar{
        display: none;
    }
    
    .mobile__nav{
        position: absolute;
        top: 57px;
        left: 0%;
        width: 100%;
        height: auto;
        background-color: #b89d96;
        transition: all 0.5s;
        transform: translateX(-100%);
    }
    .mobile__nav a{
        display: block;
        color: white;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .mobile__nav a:hover{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    #menu_bar:checked ~ .mobile__nav{
        transform: translateX(0%);
    }
}