footer {
//Footer con absolute
    display: flex;
    position: absolute;
    bottom: -20;
    flex-direction: column;
    background-color: black;
    width: 100%;
   
//Footer con relative desactivado
/*
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: black;
    width: 100%;
    z-index: -1;
*/
    a{
        display: flex;
        justify-content: center;
    }

    p {
        text-align: center;
        color: white;
        margin: 10px;
        font-size: 70%;
    }
}
.tripadvisor {
    width: 100px;
}
