.galery__grid-container {
    display: none;
}
.galery__img {
    width: 94%;
}
.galery__title {
    grid-area: title;
    margin-top: 100px;
    font-size: 400%;
    text-align: center;
}

.galery__bg {
    background-image: url(../assets/img/bgtest.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
