<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--CSS-->
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
            <!--FONTS-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>Buona Fortuna</title>
    </head>
    <body>
        <header>
            <img src="../assets/img/logo.png" alt="logo" class="brandLogo">
    
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="historia.html">Historia</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="contacto.html">Contact</a></li>
                </ul>
            </nav>
            <a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/img/whatsapp.png" alt="logo_whatsapp" class="logo_whatsapp"></a>
    
        </header>
    
    <main class="galeria">
        
        <h3>Galeria</h3>

        <hr>
        <section>
        <img src="../assets/img/galeria/1.jpg" alt="img1" class="img1">
        <img src="../assets/img/galeria/2.jpg" alt="img2" class="img2">
        <img src="../assets/img/galeria/3.jpg" alt="img3" class="img3">
        <img src="../assets/img/galeria/4.jpg" alt="img4" class="img4">
        <img src="../assets/img/galeria/5.jpg" alt="img5" class="img5">
        <img src="../assets/img/galeria/6.jpg" alt="img6" class="img6">
        <img src="../assets/img/galeria/7.jpg" alt="img7" class="img7">
        <img src="../assets/img/galeria/8.jpg" alt="img8" class="img8">
        </section>

    </main>

    <footer>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            vel velit ipsum. In hac habitasse platea dictumst. Donec
            semper eros lacus, a convallis ligula elementum ut. Nulla</p>\
            <a href="https://www.tripadvisor.com.ar/" target="_blank"><img src="../assets/img/tripadvisor_white.png" alt="tripadvisor" class="tripadvisor"></a>
    </footer>


</body>
</html>