<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/media.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buona Fortuna ~ Historia</title>
</head>

<body class="historia__bg">
    <header>
        <div class="logo__flex--container">
            <img src="../assets/img/icon_logo.png" alt="logo" class="logo">
        </div>
        <div class="container">
            <input type="checkbox" id="menu_bar">
            <label class="icon__menu--flexbox" for="menu_bar">
                <img src="../assets/img/icon_menu.png" alt="icon_menu" class="icon_menu">
            </label>
            <nav class="mobile__nav">
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menu</a>
                <a href="historia.html">Historia</a>
                <a href="galeria.html">Galeria</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
        <div class="desktop__navbar">
            <nav class="desktop__nav">
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menu</a>
                <a href="historia.html">Historia</a>
                <a href="galeria.html">Galeria</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>


    <main class="historia">

        <h3>Historia</h3>

        <article>
            <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin sodales ligula in ante consequat tincidunt.
                Donec non magna vulputate, porttitor libero id, semper turpis. Donec nec venenatis nisi.
                Integer at metus vulputate, posuere ipsum varius, viverra massa. Vestibulum ipsum tellus, tempor
                nec commodo non, congue sed metus. Aenean dapibus ante eu eros tristique aliquet. Duis vestibulum
                justo libero, et aliquet turpis condimentum in. Vivamus euismod posuere massa, ac consequat orci luctus
                id. Quisque condimentum condimentum quam, vitae venenatis elit semper et. Donec bibendum, nunc at
                imperdiet
                gravida, justo dolor cursus purus, nec gravida ligula sapien at leo. Donec a consequat sem.</p>
            <br>
            <p class="p2">Quisque tincidunt porta neque sed accumsan. Nullam non bibendum tellus, et
                luctus erat. Nunc lobortis, tortor in ullamcorper eleifend, velit ipsum facilisis
                tellus, eu vehicula enim massa id sapien. Maecenas vel dapibus leo, congue tristique
                neque. Aenean gravida velit nec eros luctus, sed semper turpis euismod. Aliquam erat
                volutpat. Integer ultricies elit eget gravida ornare. Donec feugiat vestibulum justo non
                sollicitudin. Ut pellentesque a enim vitae iaculis. Fusce leo nulla, condimentum ac consectetur
                non, eleifend vel purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia curae; Cras lobortis non dui ut imperdiet. Donec et massa ut lacus mattis convallis. Ut
                fermentum tempus iaculis. Nunc accumsan consectetur neque, quis posuere sem vestibulum dignissim.
                Aliquam aliquam est eu neque volutpat aliquet.</p>
            <br>
            <p class="p3">Phasellus dignissim fringilla nunc, id vehicula orci consectetur
                id. Sed vestibulum mauris id sapien fringilla, sit amet rhoncus
                augue venenatis. Class aptent taciti sociosqu ad litora torquent
                per conubia nostra, per inceptos himenaeos. Etiam pharetra aliquet
                purus, ac iaculis lorem suscipit eu. Integer porta in neque non
                scipit. Vestibulum et urna tortor. Integer purus erat, scelerisque
                fringilla eu, tempor ut elit. Donec quis felis quis mauris
                placerat porttitor sed ac neque. Nunc suscipit lorem nisi, sed
                fermentum nisi venenatis eget. Mauris porta, sapien ac egestas aliquet,
                ante ipsum ultricies massa, pulvinar facilisis augue nisi vitae magna.
                Integer sodales, libero vitae ornare pretium, felis ligula varius orci, eget
                ultricies mi urna vel urna. Sed molestie auctor varius. Nunc viverra erat ac quam
                imperdiet viverra.</p>
            <br>
            <p class="p4">Curabitur sed rutrum nunc. Nam vehicula ex convallis
                nisl pharetra consectetur. Phasellus interdum, ante ac sagittis
                iaculis, ex quam egestas lacus, et rhoncus diam lectus eget nibh.
                Sed vestibulum at nisi sit amet mattis. Maecenas dignissim enim tortor,
                sit amet aliquam eros commodo nec. Maecenas urna erat, pharetra quis imperdiet
                eu, rhoncus sit amet risus. Donec hendrerit vehicula enim, vitae condimentum erat
                eleifend vel. Nulla non lectus vel nisl ultricies imperdiet. Nunc dignissim lectus
                dictum risus vestibulum, sed fringilla nunc efficitur. Curabitur vitae justo nisi.
                Maecenas a nisi ante. In sed ante sit amet tellus eleifend elementum.</p>
        </article>

    </main>

    <a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/img/whatsapp.png" alt="logo_whatsapp"
            class="logo_whatsapp"></a>

    <footer>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            vel velit ipsum. In hac habitasse platea dictumst. Donec
            semper eros lacus, a convallis ligula elementum ut. Nulla</p>
        <a href="https://www.tripadvisor.com.ar/" target="_blank"><img src="../assets/img/tripadvisor_white.png"
                alt="tripadvisor" class="tripadvisor"></a>
    </footer>

</body>

</html>