<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--CSS-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
        <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Buona Fortuna</title>
</head>
<body>
    <header>
        <img src="../assets/img/logo.png" alt="logo" class="brandLogo">

        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="historia.html">Historia</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contacto.html">Contact</a></li>
            </ul>
        </nav>
        <a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/img/whatsapp.png" alt="logo_whatsapp" class="logo_whatsapp"></a>

    </header>
    
    <main class="menu">
        <h3>Menu</h3>
        <hr class="decoration__hr">
        

        <h4>Entradas</h4>
        <table>
            <tr>
                <td>Item one</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item two</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item three</td>
                <td>$</td>
            </tr>
        </table>

        <hr>

        <h4>Principales</h4>
        <table>
            <tr>
                <td>Item one</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item two</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item three</td>
                <td>$</td>
            </tr>
        </table>

        <hr>

        <h4>Bebidas</h4>
        <table>
            <tr>
                <td>Item one</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item two</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item three</td>
                <td>$</td>
            </tr>
        </table>

        <hr>

        <h4>Postres</h4>
        <table>
            <tr>
                <td>Item one</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item two</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Item three</td>
                <td>$</td>
            </tr>
        </table>
    </main>

<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
        vel velit ipsum. In hac habitasse platea dictumst. Donec
        semper eros lacus, a convallis ligula elementum ut. Nulla</p>\
        <a href="https://www.tripadvisor.com.ar/" target="_blank"><img src="../assets/img/tripadvisor_white.png" alt="tripadvisor" class="tripadvisor"></a>
    </footer>


</body>
</html>